html main {
    border-top: none;
    padding-top: 20px;
}
.sidebar-navigations {
    margin-bottom: 2px;
}
.sidebar-news {
    margin-bottom: 52px;
}
.main-about {
    margin-top: 17px;
    margin-left: -3px;
}
.main-about__title {
    margin: 0;
    font-size: 22px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 47px;
}
.main-about__descr {
    position: relative;
    height: 242px;
    margin-top: -5px;
    overflow: hidden;

    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 22px;
}
.main-about__descr::after {
    content: "";
    width: 574px;
    height: 17px;
    position: absolute;
    bottom: -24px;

    background-position: -205px -5px;
    background-image: url(../img/sprites-home.png);
}
.main-about__descr p {
    margin-top: 22px;
}
.main-about__descr p:first-child {   
    margin: 0;
}

