html main {
    border-top: none;
    padding-top: 20px;
}
.sidebar-navigations {
    margin-bottom: 2px;
}
.sidebar-news {
    margin-bottom: 52px;
}
.main-contact {
    margin-top: 20px;
    margin-left: -5px;
}
.main-contact__title {
    margin-bottom: 8px;
    font-size: 18px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 20px;
}
.main-contact__descr {
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 22px;
}
.main-contact__descr p {
    margin-top: 22px;
}
.main-contact__descr p:first-child {
    margin: 0;
}
.contact-form {
    position: relative;
    margin-top: 23px;
}
.contact-form__title {
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 20px;
}
input, textarea {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 13px;
    border: 1px solid #cdcdcd;
}
input {
    width: 225px;
    height: 25px;
    margin-top: 11px;
}
textarea {
    width: 330px;
    height: 132px;
    margin-top: 10px;
    margin-bottom: 2px;
}
form label {
    line-height: 20px;
}
input[type="submit"] {
    display: inline-block;
    width: 108px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 22px;
}
textarea + label {
    position: absolute;
    bottom: 162px;
}

