html main {
    border-top: none;
    padding-top: 20px;
}
.sidebar-navigations {
    margin-bottom: 2px;
}
.sidebar-news {
    margin-bottom: 52px;
}
.main-portfolio {
    margin-top: 2px;
}
.main-portfolio__title {
    font-size: 22px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 47px;
    margin-bottom: 5px;
}
.main-portfolio__menu {
    display: inline-block;
    padding: 0;
    margin-left: 2px;
    border: 1px solid #e5e5e5;
    font-size: 0;
}
.main-portfolio__menu li {
    display: inline-block;
    margin: 0;
    list-style: none;
}
.main-portfolio__menu li a {
    display: block;
    padding-top: 2px;
    padding-right: 13px;
    padding-left: 14px;
    background-color: #ebebeb;

    color: #707070;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 42px;
}
.main-portfolio__menu li:first-child a {
    padding-left: 28px;
}
.main-portfolio__menu li:last-child a {
    padding-right: 28px;
}
.main-portfolio__menu li a:hover {
    color: #2a344a;
}
table {
    padding-top: 18px;
    margin-left: -2px;
    font-size: 0;
}
td {
    position: relative;
}
td:nth-child(4n) {
    margin-right: 0;
}
td img {
    display: inline-block;
    outline: 4px solid #d5cfcf;
    outline-offset: -4px;
    margin-right: 16px;
    margin-bottom: 15px;
}