html main {
    border-top: none;
    padding-top: 20px;
}
.sidebar-navigations {
    margin-bottom: 2px;
}
.sidebar-news {
    margin-bottom: 52px;
}
.main-services {
    margin-top: 2px;
    margin-left: 2px;
}
.main-services__title {
    margin-bottom: -27px;
    margin-left: -2px;

    font-size: 22px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 47px;
}
.services-item {
    width: 290px;
    margin-top: 29px;
    margin-bottom: 29px;
}
.services-item__title {
    margin: 0;
    font-size: 22px;
    font-family: Georgia, serif;
    font-weight: normal;
    line-height: 37px;
}
.services-item__descr {
    margin-top: 6px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 22px;
}
