/*-----------Базовые стили-----------*/
[class*="col-"] {
    text-align: center;
}
.btn {
    padding: 20px 50px 20px 46px;
    background-color: #fed136;

    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
/*-----------Базовые стили-----------*/

.main-header {
    min-height: 700px;
    background: url("../img/header-bg.jpg");
    background-size: 100% 100%;
    color: #ffffff;
}
.main-header__nav  {
    margin-top: 40px;
    margin-bottom: 20.5%;
}
.main-header__btn {
    background-color: #ffffff;
    color: #000000;
}
.main-header__menu-xs  {
    margin-left: 10px;
}
.main-header__menu-xs a {
    text-transform: uppercase;
    text-align: center;
}
.main-header__logo {
    padding-top: 3px;
    padding-left: 0;
}
.main-header__menu {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-left: 76px;
    padding-right: 26px;
}
.main-header__menu li {
    list-style: none;
}
.main-header__menu li a {
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.main-header__menu li a:hover {
    color: #b4b4b4;
}
.main-header__title {
    margin-bottom: 20px;
    padding-right: 2px;

    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 40px;
    letter-spacing: -0.02em;
}
.main-header__descr {
    margin-bottom: 33px;
    padding-right: 2px;

    font-family: 'Montserrat', sans-serif;
    font-size: 74px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.015em;
}
.main-header .btn {
    margin-left: 10px;
    margin-bottom: 20px;
}
.main-header .btn:hover {
    background-color: #fbc713;
    color: #4e4e4e;
}
.main__services {
    min-height: 550px;
    padding-top: 92px;
    padding-bottom: 40px;
    color: #000000;
}
.main__services__title {
    padding-right: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.main__services__descr {
    margin-bottom: 46px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: -0.01em;
}
.main__features {
    padding-left: 20px;
    padding-right: 20px;
}
.main__features-example {
    margin-top: 29px;
    padding-left: 25px;
    padding-right: 20px;
}
.main__features-bg {
    width: 74px;
    height: 73px;
    margin: 0 auto;
    margin-bottom: 22px;
    background: url("../img/sprites-icon.png");
}
.features-1 {
    background-position: -10px -10px;
}
.features-2 {
    background-position: -83px -161px;
}
.features-3 {
    background-position: -291px -107px;
}
.main__features-example h3 {
    margin-bottom: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.main__features-example span {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.05em;
}
.main__portfolio {
    margin-top: 20px;
    min-height: 1216px;
    padding-top: 90px;
    background-color: #f7f7f7;
}
.main__portfolio-title {
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.main__portfolio-descr {
    margin-bottom: 36px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: -0.01em;
}
.main__portfolio-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.main__portfolio-item {
    min-height: 394px;
    width: 290px;
    margin: 36px 29px 14px 5px;
}
.main__portfolio-item:hover > b, .main__portfolio-item:hover > span {
    background-color: #eeeeee;
    cursor: pointer; 
}
.main__portfolio-item img {
    height: 300px;
    width: 290px;
}
.main__portfolio-item b {
    width: 290px;
    padding-top: 25px;
    background-color: #ffffff;

    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: -0.02em;
}
.main__portfolio-item span {
    width: 290px;
    padding-bottom: 24px;
    background-color: #ffffff;

    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 14px;
    line-height: 15px;
}
.main__about-us {
    min-height: 1670px;
    padding-top: 78px;
}
.main__about-us-title {
    padding-top: 14px;
    padding-right: 2px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.main__about-us-descr {
    margin-bottom: 75px;
    padding-right: 6px;

    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: -0.01em;
}

.main__event {
    display: flex;
    min-height: 275px;
    padding-left: 10px;
}

.main__event::before {
    content: "";
    position: absolute;
    height: 300px;
    left: 50%;
    right: 50%;
    border: 1px solid #f1f1f1;
}
.main__events  .main__event-img {
   position: absolute;
    margin-left: -90px;
   left: 50%;
   right: 50%;
   
}
.main__event [class*="col-"]  {
    text-align: right;
}
.main__event:nth-child(2n) [class*="col-"]  {
    text-align: left;
}
.main__event:nth-child(1n) .main__event-news {
    padding-right: 35px;
    padding-left: 110px;
}
.main__event:nth-child(2n) .main__event-news {
    padding-right: 110px;
    padding-left: 25px;
}
.main__event-date {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}
.main__event-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.03em;
}
.main__event-descr {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.05em;
    line-height: 22px;
}
.main__event-xs img {
    margin-bottom: 60px;
}
.main__team {
    min-height: 820px;
    padding-top: 86px;
    padding-right: 0;
    padding-left: 5px;
    background-color: #f9f9f9;
}
.main__team-title {
    padding-right: 10px;
    padding-bottom: 4px;

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}
.main__team-descr {
    margin-bottom: 80px;

    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: -0.01em;
}
.main-workers {
    padding-left: 0;
    padding-right: 0;
}
.main__worker {
    min-height: 340px;
}
.main__worker > img {
    border-radius: 50%;
}
.main__worker-photo {
    height: 221px;
    width: 220px;
    padding: 0;
    margin-bottom: 22px;
}
.main__worker-name {
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: -0.04em;
}
.main__worker > span {
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-style: normal;
    letter-spacing: -0.04em;
}
.main__worker-social {
    margin-bottom: 40px;
}
.main__worker-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 50%;
    border: 3px solid black;
}
.main__worker-social  a:hover {
    border: 3px solid #b4b4b4;
}
.worker-social {
    background: url("../img/sprites-icon.png");
}
.main__worker-social_tw {
    background-position: -283px -63px;
}
.main__worker-social_fb {
    background-position: -92px -53px;
}
.main__worker-social_p {
    background-position: 0 -153px;
}
.main__worker-social_g {
     background-position: -156px -50px;
}
.main__team-sign {
    margin-bottom: 40px;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.03em;
    line-height: 24px;
}
.main__partners {
    display: flex;
    justify-content: center;
    min-height: 157px;
    padding-top: 54px;
}
.main__partners-item  {
    margin-left: 20px;
    margin-right: 20px;
    background: url("../img/sprites-icon.png");
}
.main__partners-env {
    width: 161px;
    height: 30px;
    margin-top: 7px;
    background-position: -102px -10px;
}
.main__partners-wp {
    width: 186px;
    height: 42px;
    background-position: -176px -200px;
}
.main__partners-at {
    width: 131px;
    height: 41px;
    background-position: -284px -10px;
}
.main__partners-mc {
    width: 167px;
    height: 42px;
    background-position: -103px -99px;
}
.main__contact-us {
    min-height: 675px;
    padding-top: 75px;

    background-color: #222222;
    background-image: url("../img/contact-background.png");
    background-repeat: no-repeat;
    background-position: 111% 410%;
}
.main__contact-us-title {
    margin-bottom: 2px;
    padding-right: 7px;
    padding-bottom: 4px;

    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: -0.02em;
}
.main__contact-us-descr {
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-size: 16px;
    letter-spacing: -0.01em;
}
form[class*="col-"] {
    padding-left: 32px;
    padding-right: 24px;
}
form [class*="col-"]  {
    margin-top: 24px;
    margin-bottom: 6px;
    padding: 15px;

    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}
input[class*="col-"], textarea[class*="col-"]  {
    max-height: 210px;
    padding-left: 21px;
    padding-top: 13px;

    border-radius: 5px;
    border: 1px solid  #222222;

    color: #bbbbbb;
    text-align: left;
    font-size: 14px;
}
.submit-btn[class*="col-"] {
    margin-top: 0;
    padding: 2px;

    text-align: center;
    font-size: 16px;
}
.submit-btn .btn {
    margin-bottom: 30px;
    padding: 21px 43px 21px 45px;
}
.main-footer {
    min-height: 90px;
    padding-top: 21px;
}
.main-footer__copyright {
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 0;
    padding-bottom: 40px;
    
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.4px;
}
.main-footer__social a {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-left: 4px;
    margin-bottom: 20px;

    border-radius: 50%;
    background-color: black;
}
.main-footer__social a:hover {
    background-color: #b4b4b4;
}
.footer-icon {
    background: url("../img/sprites-icon.png");
}
.main-footer__social-tw {
    background-position: -320px -58px;
}
.main-footer__social-fb {
    background-position: -120px -49px;
}
.main-footer__social-p {
    background-position: -33px -151px;
}
.main-footer__social-g {
    background-position: -190px -48px;
}